@import '~@angular/material/theming';

@mixin navbar-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    app-navbar {
        .mat-toolbar {
            &.toolbar-show {

                &.mat-primary {
                    color: mat-color($primary, default-contrast);
                    border-bottom-color: mat-color($primary, 800);

                    .mat-button {
                        &.button-highlight {
                            color: mat-color($accent);
                        }
                    }
                }

                &.mat-accent {
                    color: mat-color($accent, default-contrast);
                    border-bottom-color: mat-color($accent, 900);

                    .mat-button {
                        &.button-highlight {
                            color: mat-color($primary);
                        }
                    }
                }
            }

            &:not(.toolbar-show) {
                color: white;
                background-color: transparent;
                border-bottom: 1px solid transparent;
            }
        }
    }
}