@import '../../../../../styles/common/base/variables';
@import '../../../../../styles/common/base/functions';

:host {
    cursor: default;
    display: block;
    text-align: center;
    padding-bottom: 8rem;

    .formula-operator {
        span {
            font-size: $icon-size-m;
        }
    }

    .formula-variable {
        width: 10vw;
        height: $icon-size-l;

        > .mat-icon {
            transition: transform $animation-duration;
            @include add-icon-size($icon-size-l);
        }


        .variable-description {
            transition: transform $animation-duration;

            > :last-child {
                transition: opacity $animation-duration;
                opacity: 0;
            }
        }

        &:hover {
            > .mat-icon {
                transform: scale(2);
            }

            .variable-description {
                transform: translateY($icon-size-l/2);

                > :last-child {
                    opacity: 1;
                }
            }
        }
    }
}