<div class="formula-container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="12px">
	<ng-container *ngFor="let variable of item.variables; index as i; last as isLast">
		<div class="formula-variable">
			<mat-icon>{{variable['icon']}}</mat-icon>
			<div class="variable-description">
				<h3 class="mat-subheading-2">{{variable['title']}}</h3>
				<p class="mat-body-1">
					{{variable['description']}}
				</p>
			</div>
		</div>
		<div *ngIf="!isLast" class="formula-operator" fxFlexAlign="center">
			<span>
				{{ i < item.length - 2 ? '+' : '='}}
			</span>
		</div>
	</ng-container>
</div>