@import '../../../../styles/common/base/variables';
@import '../../../../styles/common/base/functions';

:host {
    cursor: default;
    display: block;
    text-align: center;
    padding-bottom: 8rem;

    .formula-operator {
        span {
            font-size: $icon-size-m;
        }
    }

    .formula-variable {
        width: 10vw;
        height: $icon-size-l;

        > .mat-icon {
            @include add-icon-size($icon-size-l);
        }


        .variable-description > :last-child {
            display: none;
        }

        &:hover {
            > .mat-icon {
                @include add-icon-size($icon-size-xl);
            }

            .variable-description > :last-child {
                display: block;
            }
        }
    }
}