@import '../../../../styles/common/base/variables';
@import '../../../../styles/common/base/functions';

:host {
    cursor: default;
    display: block;

    .formula-box {
        display: inline-block;

        > span {
            font-size: $icon-size-m;
        }

        > .formula-variable {
            text-align: center;

            > .mat-icon {
                @include add-icon-size($icon-size-l);
            }


            .variable-description {
                text-align: center;
                width: 15vw;
                visibility: hidden;

                > p {
                    text-align: center;
                }
            }

            &:hover {
                .variable-description {
                    display: block;
                }
            }
        }
    }
}