
<ng-container *ngIf="isLoading; then loaderTemplate; else workspaceTemplate"></ng-container>

<ng-template #workspaceTemplate>
    <app-workspace-header (actionEvent)="receiveAction($event)" [item]="header"></app-workspace-header>
    <app-workspace-page [item]="currentPage"></app-workspace-page>
    <app-workspace-footer [item]="footer"></app-workspace-footer>
</ng-template>

<ng-template #loaderTemplate>
    <app-workspace-loader *ngIf="loader" [item]="loader"></app-workspace-loader>
</ng-template>