:host {
    .profile-image {
        width: 256px;
        height: 256px;
        margin: 0 auto 4rem auto;

        img {
            width: 100%;
            clip-path: circle(50%);
        }
    }

    .profile-container {
        text-align: center;
    }

    @at-root {
        @media screen and (min-width: 960px) {
            :host {
                .profile-container {
                    text-align: left;
                }
            }
        }
    }
}