:host {
    .profile-image {
        width: 256px;
        height: 256px;
        margin: 0 auto 4rem auto;
        border-radius: 50%;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

        img {
            width: 100%;
            clip-path: circle(50%);
        }
    }

    .profile-container {
        text-align: center;
    }

    @at-root {
        @media screen and (min-width: 960px) {
            :host {
                .profile-container {
                    text-align: left;
                }
            }
        }
    }
}