:host {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;

    .mat-toolbar {
        background-color: rgba(22,22,22,0);

        .mat-icon, .mat-button {
            color: white;
        }
    }
}