// DOM
html, body {
    margin: 0;
}

hr {
	border-style: solid;
	border-width: 1px;
	max-width: 50px;
}

section {
	padding: 2rem 0;
}

//Angular Material
.mat-toolbar {
	&.mat-toolbar-size-small {
		height: 32px;
	}

	.mat-toolbar-spacer {
		width: 100%;
	}
}

.mat-icon {
	@include add-icon-size($icon-size-m);
}

.mat-display-1, .mat-display-2, .mat-display-3, .mat-display-4 {
	text-align: center;
}