html, body {
    margin: 0;
}

.mat-toolbar {
	&.mat-toolbar-size-small {
		height: 32px;
	}

	.mat-toolbar-spacer {
		width: 100%;
	}
}

.mat-icon {
	@include add-icon-size($icon-size-m);
}

section.theme-color {
	background-color: mat-color($primary);
	color: white;
}