@import '~@angular/material/theming';

@mixin history-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);


    app-history {
        svg > {
            circle {
                fill: mat-color($primary);
            }

            line {
                stroke: mat-color($primary);
            }
        }

        .history-details {
            > .history-year {
                color: mat-color($primary);
            }

            > .history-title {
                color: mat-color($accent, 0.8);
            }
            
            > .history-description {
                background-color: map-get($background, 'background');
            }
        }
    }
}