@import '../../../../../styles/common/base/variables';

:host {
    display: block;
    text-align: center;

    .history-milestone {
        .history-details {
            text-align: left;
            cursor: default;

            > .history-description {
                transition: opacity $animation-duration, transform $animation-duration;
                transform: translateY(-18px);
                opacity: 0;
            }

            &.details-even {
                transform: translateX(-100%);
                text-align: end;
            }
            
            &:hover {
                z-index: 1;

                > .history-description {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .history-birth {
        > .history-details {
            cursor: default;
            display: block;
            margin: 0 auto;
            position: relative;
            text-align: center;
        }
    }

    .history-details {
        position: absolute;
        display: inline-block;

        max-width: 30vw;

        > .history-title, > .history-year {
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        > .history-year {
            line-height: 1;
        }
    }
}