:host {
    display: block;
    text-align: center;

    .history-milestone {

        .history-details {
            text-align: left;

            > .history-description {
                display: none;
            }

            &.details-even {
                transform: translateX(-100%);
                text-align: end;
            }
            
            &:hover {
                > .history-description {
                    display: block;
                }
            }
        }
    }

    .history-birth {
        > .history-details {
            display: block;
            margin: 0 auto;
            position: relative;
            text-align: center;
        }
    }

    .history-details {
        position: absolute;
        display: inline-block;

        max-width: 30vw;

        > .history-year {
            line-height: 1;
        }
    }
}