@import '~@angular/material/theming';

@mixin page-theme($theme) {
    $primary: map-get($theme, primary);
  
    app-page .page-content {
        > section.theme-color {
            background-color: mat-color($primary);
            color: white;
        }
    }
}