#welcome {
    height: 100vh;

    background: url('../../../assets/images/home.jpg') no-repeat center fixed;
    color: white;
    background-size: cover;
}

#aboutme {
    height: 200px;
}

header {
    .container-text {
        text-align: center;
        filter: drop-shadow(0px 10px 10px rgba(5,5,5,.8));
    }
}