
@import '~@angular/material/theming';

@mixin section-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);

	header {
		color: white;
	}

    section {
		.section-container {
			hr {
				border-color: mat-color($primary);
			}
		}

        &.mat-primary {
			color: mat-color($primary, default-contrast);
			background-color: mat-color($primary);	
		   
			.section-container {
				hr {
					border-color: mat-color($primary, default-contrast);
				}
			}
		}

		&.mat-accent {
			color: mat-color($accent, default-contrast);
			background-color: mat-color($accent);
		}
    }
}