#welcome {
    height: 100vh;

    background: url('../../../assets/images/home.jpg') no-repeat center fixed;
    color: white;
    background-size: cover;

    .container-text > * {
        filter: drop-shadow(0px 8px 4px rgba(8,8,8,.8));
    }
}

#about {
    .profile-image {
        width: 256px;
        clip-path: circle(50%);
    }
}

.section-container {
    padding: 0 4rem;
}