<div class="page-content">
	<!-- WELCOME -->
	<header id="welcome" fxLayout="column" fxLayoutAlign="center center">
		<div class="container-text">
			<h1 class="mat-display-4">Pedro Gomes</h1>
			<h2 class="mat-display-1">Software Engineer</h2>
		</div>
		<a mat-mini-fab color="primary">
			<mat-icon>arrow_downward</mat-icon>
		</a>
	</header>

	<!-- FORMULA -->
	<section id="formula" class="section-theme" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem">
		<div class="section-container" fxFlexAlign="center">
			<h1 class="mat-headline">How my brain works?</h1>
			<hr>
		</div>
		<div class="section-container">
			<app-formula *ngIf="formula" [item]="formula"></app-formula>
		</div>
	</section>

	<!-- ABOUT -->
	<section id="about" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem">
		<div class="section-container" fxFlexAlign="center">
			<h1 class="mat-headline">Who am I?</h1>
			<hr>
		</div>
		<div class="section-container">
			<p class="mat-body-2">
				My name is Pedro Gomes and I'm from a small town called Almada, Portugal.
				I work full time as a Front-End developer, creating solutions to the clients' needs.
				...
			</p>
		</div>
	</section>
</div>