@import '../../../styles/common/base/variables';
@import '../../../styles/common/base/functions';

#welcome {
    height: 100vh;
    width: 100%;
    min-height: 650px;

    background: url('../../../assets/images/home.jpg') no-repeat center fixed;
    color: white;
    background-size: cover;
}

#aboutme {
    height: 200px;
}

header {
    > .header-body {
        text-align: center;

        > .container-text {
            filter: drop-shadow(0px 10px 10px rgba(5,5,5,.8));
        }
    }
}