
@import '~@angular/material/theming';

@mixin section-theme($theme) {
    $primary: map-get($theme, primary);

    section {
        &.section-theme {
            background-color: mat-color($primary);
            color: white;
        }

        &:not(.section-theme) {
            hr {
                border-color: mat-color($primary);
            }
        }
    }
}