<div class="page-content">
	<!-- WELCOME -->
	<header id="home" fxLayout="column" fxLayoutAlign="center center">
		<div class="container-text">
			<h1 class="mat-display-4">{{model.data['information']['name']}}</h1>
			<h2 class="mat-display-1">{{model.data['information']['role']}}</h2>
		</div>
		<a mat-mini-fab scrollTo color="primary" href="#{{sections[0].data['id']}}" scrollOffset="64px">
			<mat-icon fontSet="fas" fontIcon="fa-angle-double-down"></mat-icon>
		</a>
	</header>

	<app-section *ngFor="let section of sections; index as i" [model]="section.data['data']" class="{{section.data['theme']}}" [attr.id]="section.data['id']" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem"></app-section>

	<footer id="contacts" fxLayout="column" fxLayoutAlign="center">
		<div class="contacts-container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="4rem">
			<div class="contacts-contact">
				<div *ngFor="let contact of model.data['information']['contacts']['personal']">
					<mat-icon fontIcon="fa-{{contact.icon}}"></mat-icon>
					<span>{{contact.value}}</span>
				</div>
			</div>
			<div class="contacts-social">
				<a *ngFor="let social of model.data['information']['contacts']['social']" mat-raised-button color="primary" href="{{social.url}}"> 
					<mat-icon fontSet="fab" fontIcon="fa-{{social.icon}}"></mat-icon>
				</a>
			</div>
		</div>
		<mat-toolbar class="mat-toolbar-size-small">
			<span class="mat-caption">Made with <mat-icon class="mat-icon-caption" style="vertical-align: text-bottom;" fontIcon="fa-favorite"></mat-icon> by {{AUTHOR}}</span>
			<span class="mat-toolbar-spacer"></span>
			<span class="mat-caption">Current Version: {{VERSION}}</span>
		</mat-toolbar>
	</footer>
</div>