<div class="page-content">
	<!-- WELCOME -->
	<header id="home" fxLayout="column" fxLayoutAlign="center center">
		<div class="container-text">
			<h1 class="mat-display-4">Pedro Gomes</h1>
			<h2 class="mat-display-1">Software Engineer</h2>
		</div>
		<a mat-mini-fab color="primary" href="#ambition">
			<mat-icon fontSet="fas" fontIcon="fa-angle-double-down"></mat-icon>
		</a>
	</header>

	<app-section *ngFor="let section of sections; index as i" [model]="section.data['data']" class="{{section.data['theme']}}" [attr.id]="section.data['id']" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem"></app-section>

	<!--
	<section id="formula" class="mat-primary" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem">
		<div class="section-container" fxFlexAlign="center">
			<h1 class="mat-headline">Ambition</h1>
			<hr>
		</div>
		<div class="section-container">
			<app-formula *ngIf="formula" [model]="formula"></app-formula>
		</div>
	</section>

	<section id="about" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem">
		<div class="section-container" fxFlexAlign="center">
			<h1 class="mat-headline">Presentation</h1>
			<hr>
		</div>
		<div class="section-container" fxLayout="column" fxLayoutGap="2rem">
			<img class="profile-image" fxFlexAlign="center" src="../../../../assets/images/profile.jpg"/>
			<div class="profile-container mat-body-2">
				<p>Hello,</p>
				<p>
					My name is Pedro Gomes and I'm from a small town called Almada, Portugal. I'm 25 years old and a Software developer, with a degree in Computer Engineering and Multimedia, focused in the front-end development. I have 3 years of work experience in programming, team leading and training (remotely and live).
				</p>
				<p>
					Besides work, I love MUSIC, specially composing, playing acoustic guitar, piano and singing. For me, it's the best way to put our creative minds to work and relax from any type of stress. I've played with a group of friends, creating tracks that we are so proud of, and moments that I'll never forget. I also learned how to capture and edit music and videos, using MIXCRAFT, AUDACITY, CAMSTUDIO, FL STUDIO and CYBERLINK POWERDIRECTOR.
				</p>
				<p>
					There are a lot of details that I didn't mention in this presentation but can be found in my CV. Also, feel free to check my profile and portfolio for a better analysis. If you have any question, don't hesitate to contact me or add me to your favorite social media.
				</p>
				<p>
					Thank you so much and I hope to see you soon,
				</p>
				<p>
					Pedro Gomes
				</p>
			</div>
		</div>
	</section>
	<section id="portfolio" class="mat-accent" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem">
		<div class="section-container" fxFlexAlign="center">
			<h1 class="mat-headline">Portfolio</h1>
			<hr>
		</div>
		<div class="section-container">
			<app-grid *ngIf="portfolio" [model]="portfolio" fxLayout="column" fxLayoutAlign="center center"></app-grid>
		</div>
	</section>
	<section id="experience" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem">
		<div class="section-container" fxFlexAlign="center">
			<h1 class="mat-headline">Experience</h1>
			<hr>
		</div>
		<div class="section-container">
			<app-history *ngIf="history" [model]="history" fxLayout="column" fxLayoutAlign="center center"></app-history>
		</div>
	</section>
	<section id="skills" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem">
		<div class="section-container" fxFlexAlign="center">
			<h1 class="mat-headline">Skills</h1>
			<hr>
		</div>
		<div class="section-container">
			<app-chart *ngIf="technologies" [model]="technologies"></app-chart>
		</div>
	</section>
	<section id="contacts" class="mat-accent" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4rem">
		<div class="section-container" fxFlexAlign="center">
			<h1 class="mat-headline">Contacts</h1>
			<hr>
		</div>
		<div class="section-container">
			<app-contacts *ngIf="contacts" [model]="contacts"></app-contacts>
		</div>
	</section>
-->
</div>