:host {
    display: block;

    .chart-group {
        margin-bottom: 16px;

        > .mat-title {
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }

    .bar-name, .bar-value .value-text {
        margin: 0;
    }

    .bar-name {
        width: 20vw;
        text-align: end;
    }

    .bar-value {
        width: 100%;

        svg {
            height: 1vh;
            
            > rect {
                width: 100%;
            }
        }
    }
}