<div *ngFor="let group of model.data['chart']" class="chart-group" fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap="8px">
	<div class="group-name">
		<h3 class="group-name mat-subheading-2">{{group.name}}</h3>
	</div>
	<div *ngFor="let bar of group['bars']" class="group-bar" fxLayout="row" fxLayoutAlign="stretch center" fxLayoutGap="10px">
		<p class="bar-name mat-body-1" fxFlex="none">{{bar.name}}</p>
		<div class="bar-value" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="6px">
			<svg [style.width.%]="bar.value">
				<svg:rect />
			</svg>
			<p class="value-text mat-body-1">{{bar.value}}%</p>
		</div>
	</div>
</div>