@mixin add-icon-size($size, $name: null) {
    @if $name != null {
        &.mat-icon-#{$name} {
            height: $size;
            font-size: $size;
            line-height: $size;
        }
    }
    @else {
        &.mat-icon {
            height: $size;
            font-size: $size;
            line-height: $size;
        }
    }
}