.layout-responsive {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;

    &.column {
        flex-direction: column;

        &.center-horizontal {
            align-items: center;
        }

        &.center-vertical {
            justify-content: center;
        }
    }

    &.row {
        flex-direction: row;

        &.center-horizontal {
            justify-content: center;
        }

        &.center-vertical {
            align-items: center;
        }
    }

    &.center {
        justify-content: center;
        align-items: center;
    }
}