// Paths
$path-images: "../assets/images/";
$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts";

// Sizes
$icon-size-s: 9px;
$icon-size-m: 18px;
$icon-size-l: 36px;
$icon-size-xl: 52px;

// Animation
$animation-duration: 0.2s;