<div *ngFor="let milestone of item.milestones; index as i; last as isLast; even as isEven" class="history-milestone" [style.height]="distance+'px'">
	<svg [attr.width]="size" [attr.height]="distance">
		<svg:circle [attr.cx]="size/2" [attr.cy]="size/2" [attr.r]="size/2" />
		<svg:line [attr.x1]="size/2" [attr.x2]="size/2" [attr.y1]="size" [attr.y2]="distance" [attr.stroke-width]="size/5" [attr.stroke-dasharray]="isLast ? '6' : distance" />
	</svg>
	<div class="history-details" [style.margin-top]="-(distance+(size/2))+'px'" [class.details-even]="isEven" [style.margin-left]="isEven ? '-60px' : (size+60)+'px'">
		<span class="history-year mat-body-2">{{milestone.year[0]}} - {{milestone.year[1]}}</span>
		<h4 class="history-title mat-subheading-1">{{milestone.title}}</h4>
		<p class="history-description mat-caption">{{milestone.description}}</p>
	</div>
</div>
<div class="history-birth" [style.height]="size+'px'">
	<svg [attr.width]="size" [attr.height]="size+1">
		<svg:circle [attr.cx]="size/2" [attr.cy]="size/2" [attr.r]="size/2" />
	</svg>
	<div class="history-details" [style.margin-left]="(size/2)+'px'">
		<span class="history-year mat-body-2">{{item.birth}}</span>
		<h4 class="history-title mat-subheading-1">A BABY WAS BORN</h4>
	</div>
</div>