<div fxLayout="column" fxLayoutAlign="center center" class="history-container">
	<div *ngFor="let milestone of item; index as i; last as isLast; even as isEven" class="history-milestone" [style.height]="(isLast ? size : distance) + 'px'">
		<svg [attr.width]="size" [attr.height]="isLast ? size + 1 : distance">
			<svg:circle [attr.cx]="size/2" [attr.cy]="size/2" [attr.r]="size/2" fill="red" />
			<svg:line *ngIf="!isLast" [attr.x1]="size/2" [attr.x2]="size/2" [attr.y1]="size" [attr.y2]="distance" [attr.stroke-width]="size/5" stroke="red"/>
		</svg>
		<div class="history-details" [style.top]="(i*distance)+'px'" [class.details-even]="isEven" [style.margin-left]="isEven ? '-60px' : (size+60)+'px'">
			<p class="history-year mat-body-2">{{milestone.year[0]}} - {{milestone.year[1]}}</p>
			<h4 class="history-title mat-subheading-1">{{milestone.title}}</h4>
			<p class="history-description mat-body-1">{{milestone.description}}</p>
		</div>
	</div>
</div>