@import '~@angular/material/theming';
@import '../app/workspace/page/page.component.theme';
@import '../app/workspace/page/history/history.component.theme';

// Theme
@include mat-core();

$primary: mat-palette($mat-blue, 600);
$accent:  mat-palette($mat-brown, A200);
$warn:    mat-palette($mat-red, 600);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@include section-theme($theme);
@include history-theme($theme);

// Typography
$typography: mat-typography-config(
  $font-family: 'Titillium Web, sans-serif'
);

@include angular-material-typography($typography);