@import '~@angular/material/theming';
@import '../app/workspace/workspace.component.theme';
@import '../app/workspace/header/header.component.theme';
@import '../app/workspace/page/page.component.theme';
@import '../app/workspace/page/section/section.component.theme';
@import '../app/workspace/page/section/history/history.component.theme';
@import '../app/workspace/page/section/chart/chart.component.theme';

// Theme
@include mat-core();

$color-primary: mat-palette($mat-blue, 700);
$color-accent: mat-palette($mat-grey, 800);

$theme-light: mat-light-theme($color-primary, $color-accent);
$theme-dark: mat-dark-theme($color-primary, $color-accent);

@mixin apply-theme($theme) {
	@include angular-material-theme($theme);

	@include workspace-theme($theme);
	@include header-theme($theme);
	@include page-theme($theme);
	@include section-theme($theme);
	@include history-theme($theme);
	@include chart-theme($theme);
}

@include apply-theme($theme-light);

.theme-dark {
	@include apply-theme($theme-dark);
}

// Typography
$typography: mat-typography-config(
	$font-family: 'Titillium Web, sans-serif'
);

@include angular-material-typography($typography);